<h1>New album</h1>
<% render "shared/errors" %>

<% render "albums/form", album: @album %>

<% if flash[:errors] %>

<ul>
  <% flash[:errors].each do |error| %>

  <li>
    <%= error %>
  </li>
  <% end %>
</ul>
<% end %>

<% action = (@album.persisted? ? album_url(@album.id) : albums_url ) %>
<% method = (@album.persisted? ? "PATCH" : "POST") %>
<form action="<%= action %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <input
  type="hidden"
  name="authenticity_token"
  value="<%= form_authenticity_token %>">
  <label for="Album name">Album name</label>
  <input type="text" name="album[name]" id="Album name" value="<%= @album.name %>">
  <br>
  <label for="band_name">Band name</label>
  <select name="album[band_id]" id="band_name">
    <option></option>
    <% Band.all.each do |band| %>
    <option
    <%= @album.band_id == band.id ? "selected" : "" %>
    value="<%= band.id %>"><%= band.name %></option>
    <% end %>
  </select>
  <br>
  <% Album::SESSION.each do |ses| %>
  <label for="<%= ses %>"><%= ses %></label>
    <input type="radio" name="album[session]" id="<%= ses %>" value="<%= ses %>"
      <%= @album.session == ses ? "checked" : "" %>>
  <% end %>
  <input type="submit">
</form>